openapi: '3.0.0'
info:
  version: 1.0.0
  title: 1xcoder Portfolio API
  license:
    name: MIT
servers:
  - url: https://api.1xcoder.com/v1
paths:
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a project
      operationId: createProjects
      responses:
        201:
          description: Project created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Info for a specific project
      operationId: showProjectById
      parameters:
        - name: projectId
          in: path
          required: true
          description: The id of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /skills:
    get:
      summary: List all skills
      operationId: listSkills
      parameters:
        - name: category
          in: query
          description: Filter skills by category (frontend, backend, database)
          required: false
          schema:
            type: string
      responses:
        200:
          description: An array of skills with proficiency levels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skills'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Add a new skill
      operationId: createSkill
      responses:
        201:
          description: Skill added successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Skill:
      required:
        - id
        - name
        - proficiency
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        proficiency:
          type: string
          enum: [beginner, intermediate, advanced]
        category:
          type: string
    Skills:
      type: array
      items:
        $ref: '#/components/schemas/Skill'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string